body
{
    margin: 0 auto;
}
header {
    padding-top: 75px;
    padding-bottom: 104px;
 
}
.menu-text {
    font-family: 'Playfair Display', serif;
    font-size: 14px;
    line-height: 24px;
    color: #03a9f4;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    padding-right: 120px;
    text-decoration: none;
    
}
li {
    display: inline-block;
}
ul {
    
}

.information-blocks {
    width: 420px;
    display: inline-block;
}

main {
    margin: 0 auto;
    width: 900px;
}